@font-face {
  font-family: "retganon";
  src: url("C:/Users/Mia/Desktop/Videogames/client/src/media/fonts/retganon.ttf");
}

.Filter {
  align-items: center;
  text-align: center;
}

.p {
  font-size: 30px;
  font-family: "retganon";
}
