.allPage {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgb(40, 0, 110) 0%,
    rgba(25, 0, 70, 1) 20%,
    rgb(0, 0, 0) 50%,
    rgba(25, 0, 70, 1) 80%,
    rgb(25, 0, 70) 100%
  );
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr 0.03fr;
  gap: 0px 8px;
}

.allinfo {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

.Genres {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  column-count: 3;
  column-rule: 1px solid #bbb;
  align-items: center;
}

.Platforms {
  height: max-content;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  column-count: 6;
  column-rule: 1px solid #bbb;
}

hr {
  margin-top: 20px;
  margin-bottom: 10px;
}

.buttons {
  text-decoration: none;
  height: max-content;
  width: 150px;
  font-size: large;
  font-weight: 100;
  color: rgb(255, 255, 255);
  background: #000000a1;
  border-style: outset;
  border-color: #ffffff;
  border-radius: 20px;
  justify-content: space-between;
  line-height: 225%;
}

.links {
  color: white;
  text-decoration: none;
}
